<h1>Manage people</h1>

<ol class="breadcrumb">
  <li><%= link_to 'Home', :root %></li>
  <li class="active">People</li>
</ol>

<%= render 'people' %>

<%= link_to 'Create person', new_person_path, :class => "btn btn-success" %>
