<h1>Manage Events</h1>

<ol class="breadcrumb">
  <li><%= link_to 'Home', :root %></li>
  <li class="active">Events</li>
</ol>

<%= render 'events' %>

<%= link_to 'New event', new_event_path, :class => "btn btn-success" %>
