<h1>Event management in Ruby on Rails</h1>
<p>Welcome to the website that solves all your event management needs, brought to you by Jasper&Florre NV.</p>

<p> For some more serious business, go to <%= link_to 'events', events_path %></p>
