<h1>Event management in Ruby on Rails</h1>

<p>Welcome to the website that solves all your event management needs.</p>

<hr />
<h2><%= pluralize(Event.all.size, "Event") %></h2>
<%= render 'events/events' %>

<hr />

<h2><%= pluralize(Person.all.size, "Person") %></h2>
<%= render 'people/people' %>
