/*
 *= require_tree .
 *= require_self
 *= require bootstrap/bootstrap
 */

body {
  padding-top: 70px;
}

td {
  white-space: nowrap;
}

.td-fill {
  width:  100%;
}

/**
 * Ellipsis
 * 
 * */

.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ellipsis-sm {
  max-width: 200px;
}

.ellipsis-md {
  max-width: 300px;
}

.ellipsis-lg {
  max-width: 400px;
}

.ellipsis-xl {
  max-width: 500px;
}
